.Name-Header {
    position: absolute;
    width: 608px;
    height: 106px;
    left: 43px;
    top: 57px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 136px;

    color: #000000;
}

.titles{
    position: absolute;
    width: 257px;
    height: 27px;
    left: 1115px;
    top: 149px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;

    color: #000000;

}

.linked-in{
    position: absolute;
    width: 67px;
    height: 70px;
    left: 1173px;
    top: 66px;

    background: url(image.png); 
}

.github{
    position: absolute;
    width: 79.55px;
    height: 70px;
    left: 1292px;
    top: 66px;

    background: url(image.png);
}

.intro-header{
    position: absolute;
    width: 452px;
    height: 58px;
    left: 561px;
    top: 319px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;

    color: #000000;

}

.intro-description {
    position: absolute;
    width: 609px;
    height: 183px;
    left: 468px;
    top: 394px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;

    color: #000000;

}

.summary {
    position: absolute;
    width: 599px;
    height: 81px;
    left: 468px;
    top: 624px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;

    color: #000000;

}

.Work-Header {
    position: absolute;
    width: 514px;
    height: 54px;
    left: 499px;
    top: 812px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;

    color: #000000;

}

.UT{
    position: absolute;
    width: 100px;
    height: 196.8px;
    left: 487px;
    top: 935px;

    background: url(clipart467355.png); 
}